<!DOCTYPE html>
<html>
 <head>
  <meta content="charset=utf-8">
  <title>Маркировка Мечты</title>
 </head>
 <body>
  <h1>Конвертер кодов маркировки</h1>
  <!-- Комментарий -->
  <p>
    <h4>Конвертировать идентификационный код в продуктовый:</h4>
    <form method="GET" enctype="text/plain">
    <p><input name="id_code"></p>
    <p><input type="submit" value="Конвертировать"></p>
    <p>{{ product_code }}</p>
    </form>
  </p>
  <p>_______________________________________________________</p>
  <p>
    <h4>Конвертировать продуктовый код в идентификационный:</h4>
    <form method="GET" enctype="text/plain">
    <p><input name="product_code"></p>
    <p><input type="submit" value="Конвертировать"></p>
    <p>{{ id_code }}</p>
    </form>
  </p>
  <p>
  <a href="{{ url_for('main') }}"><u>Вернуться на главную</u></a>
  </p>
 </body>
</html>