<!DOCTYPE html>
<html>
 <head>
  <meta content="charset=utf-8">
  <title>Маркировка Мечты</title>
 </head>
 <body>
  <h1>Формирование xml для заказа кодов маркировки</h1>
  <!-- Комментарий -->
  <p>
    <form action="{{ url_for('download') }}" method="POST">
      <h4>Основные поля</h4>
      <p>productGroupe <input type="text" name="productGroupe"></p>
      <p>contactPerson <input type="text" name="contactPerson"></p>
      <p>releaseMethodType <input type="text" name="releaseMethodType"></p>
      <p>createMethodType <input type="text" name="createMethodType"></p>
      <p>contractNumber <input type="text" name="contractNumber"></p>
      <p>contractDate <input type="text" name="contractDate"></p>

      <h4>Код маркировки/количество</h4>
      <p>1.<input type="text" name="product_code"> / <input type="text" name="quantity" size="10"></p>
      <p>2.<input type="text" name="product_code"> / <input type="text" name="quantity" size="10"></p>
      <p>3.<input type="text" name="product_code"> / <input type="text" name="quantity" size="10"></p>
      <p>4.<input type="text" name="product_code"> / <input type="text" name="quantity" size="10"></p>
      <p>5.<input type="text" name="product_code"> / <input type="text" name="quantity" size="10"></p>
      <p>6.<input type="text" name="product_code"> / <input type="text" name="quantity" size="10"></p>
      <p>7.<input type="text" name="product_code"> / <input type="text" name="quantity" size="10"></p>
      <p>8.<input type="text" name="product_code"> / <input type="text" name="quantity" size="10"></p>
      <p>9.<input type="text" name="product_code"> / <input type="text" name="quantity" size="10"></p>
      <p>10.<input type="text" name="product_code"> / <input type="text" name="quantity" size="10"></p>

      <p><input type="submit" value="Конвертировать"></p>
      
    </form>
    
  </p>
</body>
</html>