<!DOCTYPE html>
<html>
 <head>
  <meta content="charset=utf-8">
  <title>Marktools v1.0</title>
 </head>
 <body>
  <h1>Формирование xml для заказа кодов маркировки</h1>
  <!-- Комментарий -->
    <form action="{{ url_for('user_file') }}" method="POST", enctype="multipart/form-data">
      <h4>Основные поля</h4>
      <p>productGroupe <input type="text" name="productGroupe"></p>
      <p>contactPerson <input type="text" name="contactPerson"></p>
      <p>releaseMethodType <input type="text" name="releaseMethodType"></p>
      <p>createMethodType <input type="text" name="createMethodType"></p>
      <p>contractNumber <input type="text" name="contractNumber"></p>
      <p>contractDate <input type="text" name="contractDate"></p>
      <input type="file" name="file" >
      <input type="submit" value="Сформировать xml из файла">
    </form>
  </p>
  <p>
    <a href="{{ url_for('main') }}"><u>Вернуться на главную</u></a>
  </p>
</body>
</html>