<!DOCTYPE html>
<html>
 <head>
  <meta content="charset=utf-8">
  <title>Marktools v1.0</title>
 </head>
 <body>
  <h1>Формирование xml для заказа кодов маркировки</h1>
  <p>
    <form action="{{ url_for('user_input') }}" method="POST">
      <h4>Основные поля</h4>
      <p>
      <label for="productGroupe">productGroupe:</label>
      <select id="productGroupe" required name="productGroupe">
        <option selected disabled>Выберите из списка</option>
        <option value="shoes">shoes</option>
      </select>
      </p>
      <p>contactPerson <input type="text" name="contactPerson"></p>
      <p>
        <label for="releaseMethodType">releaseMethodType:</label>
        <select id="releaseMethodType" required name="releaseMethodType">
          <option selected disabled>Выберите из списка</option>
          <option value="REMAINS">REMAINS</option>
        </select>
      </p>
      <p>
        <label for="createMethodType">createMethodType:</label>
        <select id="createMethodType" required name="createMethodType">
          <option selected disabled>Выберите из списка</option>
          <option value="SELF_MADE">SELF_MADE</option>
        </select>
      </p>
      <p>contractNumber <input type="text" name="contractNumber"></p>
      <p>contractDate <input type="date" name="contractDate"></p>

      <h4>Код маркировки/количество</h4>
      <p>1.<input type="text" name="gtin"> / <input type="text" name="quantity" size="10"></p>
      <p>2.<input type="text" name="gtin"> / <input type="text" name="quantity" size="10"></p>
      <p>3.<input type="text" name="gtin"> / <input type="text" name="quantity" size="10"></p>
      <p>4.<input type="text" name="gtin"> / <input type="text" name="quantity" size="10"></p>
      <p>5.<input type="text" name="gtin"> / <input type="text" name="quantity" size="10"></p>
      <p>6.<input type="text" name="gtin"> / <input type="text" name="quantity" size="10"></p>
      <p>7.<input type="text" name="gtin"> / <input type="text" name="quantity" size="10"></p>
      <p>8.<input type="text" name="gtin"> / <input type="text" name="quantity" size="10"></p>
      <p>9.<input type="text" name="gtin"> / <input type="text" name="quantity" size="10"></p>
      <p>10.<input type="text" name="gtin"> / <input type="text" name="quantity" size="10"></p>

      <p><input type="submit" value="Сформировать xml"></p>
      
    </form>
  </p>
  <p>
    <a href="{{ url_for('main') }}"><u>Вернуться на главную</u></a>
  </p>
</body>
</html>